<html>

<head>
  <title>New Post</title>
</head>

<body>
  <form method="post" action="/new">
    <input type="text" placeholder="Author Name" name="authorName">
    <input type="text" placeholder="Message" name="messageText">
    <button type="submit">Submit</button>
  </form>

</body>

</html>